terraform/.terraform/
.terraform*

deploy.sh
terraform.tfvars
terraform.tfvars.example

# Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Ignore all markdown files except README.md
*.md
!README.md