---
plugin: amazon.aws.aws_ec2
regions:
  - us-east-1                
filters:
  "tag:Role": "webserver"       # Only pick webserver nodes
keyed_groups:
  - key: tags.Name
    prefix: name_
hostnames:
  - private-ip-address        # Use private IP for ansible connectivity

