---
plugin: amazon.aws.aws_ec2
regions:
  - us-east-1

# Only include running instances
filters:
  instance-state-name: running

# Use public IP for SSH connectivity from GitHub Actions
hostnames:
  - public-ip-address

# Create groups based on instance tags
groups:
  webservers: "tags.Name is defined and 'webserver' in tags.Name"
  monitoring: "tags.Name is defined and tags.Name == 'monitoring-node'"

# Compose variables for Ansible
compose:
  ansible_host: public_ip_address
  ansible_user: ubuntu
