---
plugin: amazon.aws.aws_ec2
regions:
  - us-east-1
filters:
  "tag:Name": "webserver*"      # Only pick instances with Name = webserver tag
hostnames:
  - private-ip-address       # Use private IP for SSH connectivity
groups:
  webservers: "'webserver' in tags.Name"  # Creates a group called 'webservers'

