---
- name: Configure Web Servers (Ubuntu)
  hosts: webservers
  become: true
  gather_facts: true

  tasks:
    - name: Update system packages
      apt:
        update_cache: yes
        upgrade: dist
      tags: [system, updates]

    - name: Install required packages
      apt:
        name:
          - apache2
          - git
          - curl
          - wget
        state: present
        update_cache: yes
      tags: [packages, web]

    - name: Start and enable Apache2 service
      systemd:
        name: apache2
        state: started
        enabled: true
      tags: [services, web]

    - name: Create web document root
      file:
        path: "{{ web_server_document_root }}"
        state: directory
        owner: "{{ web_server_user }}"
        group: "{{ web_server_group }}"
        mode: "0755"
      tags: [web, filesystem]

    - name: Create custom index.html
      template:
        src: index.html.j2
        dest: "{{ web_server_document_root }}/index.html"
        owner: "{{ web_server_user }}"
        group: "{{ web_server_group }}"
        mode: "0644"
      notify: restart apache
      tags: [web, content]

    - name: Create systeminfo.html with system information
      template:
        src: systeminfo.html.j2
        dest: "{{ web_server_document_root }}/info.html"
        owner: "{{ web_server_user }}"
        group: "{{ web_server_group }}"
        mode: "0644"
      tags: [web, content]


    - name: Ensure Apache2 is running and accessible
      uri:
        url: "http://{{ ansible_default_ipv4.address }}"
        method: GET
        status_code: 200
      delegate_to: localhost
      become: false
      tags: [validation, web]

  handlers:
    - name: restart apache
      systemd:
        name: apache2
        state: restarted
